.advertise_container {
  margin-top: 2rem;
  cursor: pointer;
  transition: animation 0.3s;
  animation: drop 2s linear infinite;
}

.advertise_container:active {
  opacity: 0.8;
}

.advertise_container:hover {
  animation: wave 0.5s infinite alternate linear;
}

@keyframes wave {
  from {
    transform: rotateZ(-0.5deg) translateY(-10px);
  }
  to {
    transform: rotateZ(0.5deg) translateY(-10px);
  }
}

@keyframes drop {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
