.list_box {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(200,200,200);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 0.2rem;
}
